$version: 20250512015347;

@font-face {
    font-family: 'Fontasm';
    src: url('../fonts/fontasm.woff2?'+$version) format('woff2'),
         url('../fonts/fontasm.woff?'+$version) format('woff');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 1rem 'Fontasm';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.fa-disshit::before {
        content: '\E000';
    }
    &.fa-dissite::before {
        content: '\E001';
    }
    &.fa-send::before {
        content: '\E002';
    }
    &.fa-clear::before {
        content: '\E003';
    }
    &.fa-down::before {
        content: '\E004';
    }
    &.fa-tick::before {
        content: '\E005';
    }
    &.fa-github::before {
        content: '\E006';
    }
    &.fa-security::before {
        content: '\E007';
    }
    &.fa-shortening::before {
        content: '\E008';
    }
}