$globalduration: .1s;
$globalradius: .8rem;

@mixin sameSize($size) {
    height: $size;
    width: $size;
}

@mixin ngradient($color) {
    background-color: $color;
    background: linear-gradient(-45deg, $color 25%, $color 72.5%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradient() {
    background-color: var(--accent-color);
    background: linear-gradient(-45deg, var(--accent-deep) 25%, var(--accent-lite) 72.5%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin bgradint() {
    background-color: var(--accent-color);
    background: linear-gradient(-45deg, var(--accent-deep) 25%, var(--accent-lite) 72.5%);
}


@keyframes breathing {
    0%, 15%, 85%, 100% {
        opacity: .8;
    }
    50% {
        opacity: .2;
    }
}


* {
    scrollbar-width: thin !important;
    scrollbar-color: var(--accent-color) #00000000 !important;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    &::-webkit-scrollbar {
        width: 7px !important;
        height: 7px !important;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--accent-color) !important;
    }
    &::-webkit-scrollbar-track {
        background: #00000000 !important;
    }
    &, &::before, &::after {
        box-sizing: border-box;
        transition-duration: $globalduration;
        transition-timing-function: ease-in-out;
    }
}

::selection {
    color: var(--background);
    background: var(--accent-color);
}

a {
    &, &:visited {
        color: var(--text-color);
        text-decoration: none;
    }
}

header, footer, .options, form label {
    -webkit-touch-callout: none;
    user-select: none;
}

html {
    --sans: 'Radio Canada', sans-serif;
    --mono: 'Courier Prime', monospace;
    --logo: 'Cuprum', sans-serif;
    font-size: 10px;
    &, body {
        @include sameSize(100%);
    }
    body {
        font-size: 1.6rem;
        font-family: var(--sans);
        margin: 0;
        padding: 0;
        background: var(--bg-deep);
        color: var(--text-color);
    }
}

content {
    display: flex;
    flex-direction: column;
    @include sameSize(100%);
    header, footer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 3.2rem;
    }
    header {
        height: 5rem;
        margin: 2rem auto;
    }
    footer {
        height: 4rem;
        margin: 1.25rem auto;
    }
    main {
        flex: 1 0 auto;
        display: flex;
    }
}

header {
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: fit-content;
        gap: 1.25rem;
        span {
            font-family: var(--logo);
            font-size: 3.25rem;
        }
        svg {
            height: 100%;
            width: auto;
        }
    }
    .btn-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        circle {
            @include sameSize(3.6rem);
            background: transparent;
            border: .35rem solid var(--text-color);
            border-radius: 100%;
            animation: breathing 3s infinite;
            display: flex;
            align-items: center;
            justify-content: center;
            dot {
                @include sameSize(2.2rem);
                border-radius: 100%;
                background: var(--text-color);
                transform: scale(0);
            }
        }
        &:hover, &:focus, &:active {
            circle {
                animation: unset;
            }
        }
        &:active {
            circle {
                transform: scale(.65);
            }
        }
    }
}

body.open-menu {
    header .btn-menu {
        circle {
            animation: unset;
            dot {
                transform: scale(1);
            }
        }
    }
}

footer {
    font-size: 1.4rem;
    > about, > github {
        display: flex;
        gap: .75rem;
        > a {
            display: flex;
            gap: .6rem;
        }
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    section {
        height: 100%;
        max-height: 60rem;
        width: calc(100% - 4.5rem);
        max-width: 80rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.2rem;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 3.2rem;
            .input {
                --_height: 5.4rem;
                --_font-size: 2rem;
                --_padding: 2.2rem;
                overflow: hidden;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                background: var(--bg-lite);
                border-radius: $globalradius;
                border: 1px solid var(--border-color);
                z-index: 0;
                label {
                    position: absolute;
                    left: var(--_padding);
                    opacity: .35;
                    font-style: italic;
                }
                input[type="text"] {
                    width: 1px;
                    flex: 1 0 auto;
                    background: transparent;
                    border: 0;
                    height: var(--_height);
                    font-family: var(--mono);
                    font-size: var(--_font-size);
                    padding: 0 0 0 var(--_padding);
                    color: var(--text-color);
                    position: relative;
                    z-index: 1;
                }
                .btn-clear, .btn-send {
                    --_font-size: 1.8rem;
                    height: var(--_height);
                    font-size: var(--_font-size);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 var(--_padding);
                    &, i {
                        line-height: 1;
                    }
                }
                .btn-send {
                    position: relative;
                    z-index: 1;
                    cursor: not-allowed;
                }
                .btn-clear {
                    transform: scale(0);
                    position: absolute;
                    right: calc(var(--_padding) * 2 + var(--_font-size));
                    z-index: 0;
                    &:hover, &:focus {
                        color: var(--accent-color);
                    }
                }
                &:focus-within {
                    background: var(--bg-lite-h);
                }
            }
            &.text {
                .btn-clear {
                    transform: scale(1);
                    position: relative;
                    right: unset;
                    z-index: 1;
                }
                .btn-send {
                    background: var(--bg-lite-hh);
                    &:hover, &:focus {
                        color: var(--bg-lite-hh);
                        background: var(--accent-color);
                        i {
                            transform: scale(1.1);
                        }
                    }
                }
                .btn-clear, .btn-send {
                    cursor: pointer;
                    &:active i {
                        transform: scale(.65);
                    }
                }
                label {
                    display: none;
                }
            }
            sub {
                display: flex;
                justify-content: center;
                width: 100%;
                gap: 3.2rem;
            }
            .options {
                --_font-size: 1.6rem;
                --_height: 5rem;
                --_padding: 2.2rem;
                font-size: var(--_font-size);
                position: relative;
                height: var(--_height);
                width: calc(100% - 4.5rem);
                max-width: 30rem;
                background: var(--bg-lite);
                border-radius: $globalradius;
                padding: 0 var(--_padding);
                cursor: pointer;
                div {
                    @include sameSize(100%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: calc(var(--_padding) / 2);
                    span {
                        &:not(.value) {
                            flex: 1 0 auto;
                            &::after {
                                content: ':';
                                margin-left: 1px;
                            }
                        }
                        &.value {
                        }
                    }
                }
                ul {
                    width: 100%;
                    list-style-type: none;
                    padding: calc(var(--_padding) / 2) 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: calc(100% + 4px);
                    left: 0;
                    background: var(--bg-lite);
                    border-radius: $globalradius;
                    overflow: hidden;
                    li {
                        height: var(--_height);
                        width: 100%;
                        padding: 0 var(--_padding) 0 calc((var(--_padding) / 2 * 3) + var(--_font-size));
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        &:hover, &:focus {
                            background: var(--bg-lite-hh);
                        }
                    }
                }
            }
        }
    }
}