$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

$globalduration: .1s;
$hoverduration: .075s;
$globalradius: .8rem;

@mixin sameSize($size) {
    height: $size;
    width: $size;
}

@mixin fontSize($fSize, $mWidth) {
    @media screen and (max-width: $mWidth) {
        font-size: $fSize;
    }
}

@keyframes breathing {
    0%, 15%, 85%, 100% {
        opacity: .8;
    }
    50% {
        opacity: .2;
    }
}


* {
    scrollbar-width: thin !important;
    scrollbar-color: var(--accent-color) #00000000 !important;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    &::-webkit-scrollbar {
        width: 7px !important;
        height: 7px !important;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--accent-color) !important;
    }
    &::-webkit-scrollbar-track {
        background: #00000000 !important;
    }
    &, &::before, &::after {
        box-sizing: border-box;
        transition-duration: $hoverduration;
        transition-timing-function: ease-in-out;
    }
}

::selection {
    color: var(--background);
    background: var(--accent-color);
}

a {
    &, &:visited {
        color: var(--text-color);
        text-decoration: none;
    }
}

button, ul, li {
    all: unset;
}

header, footer, .options, form label, dropmenu {
    -webkit-touch-callout: none;
    user-select: none;
}

anicon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &, i {
        line-height: 1 !important;
    }
    i:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
    }
}

html {
    --sans: 'Radio Canada', sans-serif;
    --mono: 'Courier Prime', monospace;
    --logo: 'Cuprum', sans-serif;
    font-size: 10px;
    @include fontSize(9px, $md);
    &, body {
        @include sameSize(100%);
    }
    body {
        font-size: 1.6rem;
        font-family: var(--sans);
        margin: 0;
        padding: 0;
        background: var(--bg-deep);
        color: var(--text-color);
    }
}

content {
    display: flex;
    flex-direction: column;
    @include sameSize(100%);
    header, footer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 3.2rem;
    }
    header {
        height: 5rem;
        margin: 2rem auto;
    }
    footer {
        height: 4rem;
        margin: 1.25rem auto;
    }
    main {
        flex: 1 0 auto;
        display: flex;
    }
}

header {
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: fit-content;
        gap: 1.25rem;
        span {
            font-family: var(--logo);
            font-size: 3.25rem;
        }
        svg {
            height: 100%;
            width: auto;
        }
    }
    .btn-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        circle {
            @include sameSize(3.6rem);
            background: transparent;
            border: .35rem solid var(--text-color);
            border-radius: 100%;
            animation: breathing 3s infinite;
            display: flex;
            align-items: center;
            justify-content: center;
            dot {
                @include sameSize(2.2rem);
                border-radius: 100%;
                background: var(--text-color);
                transform: scale(0);
            }
        }
        &:hover, &:focus-visible, &:active, &[class*="keyboard-active"] {
            circle {
                animation: unset;
            }
        }
        &:active, &[class*="keyboard-active"] {
            circle {
                transform: scale(.65);
            }
        }
    }
}

body.open-menu {
    header .btn-menu {
        circle {
            animation: unset;
            dot {
                transform: scale(1);
            }
        }
    }
}

footer {
    font-size: 1.4rem;
    > about, > github {
        display: flex;
        gap: .75rem;
        > a {
            display: flex;
            gap: .6rem;
        }
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    section {
        height: 100%;
        max-height: 60rem;
        width: calc(100% - 4.5rem);
        max-width: 80rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.2rem;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 4.8rem;
            margin: 12.8rem 0 2rem 0; /* Center the input box */
            @mixin clearbutton() {
                transform: scale(1);
                position: relative;
                z-index: 1;
                cursor: pointer;
                &:active i, &[class*="keyboard-active"] i {
                    transform: scale(.65);
                }
            }
            .input {
                --_height: 5.4rem;
                --_font-size: 2rem;
                --_padding: 2.2rem;
                overflow: hidden;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                background: var(--bg-lite);
                border-radius: $globalradius;
                border: 1px solid var(--border-color);
                z-index: 0;
                label {
                    position: absolute;
                    left: var(--_padding);
                    opacity: .35;
                    font-style: italic;
                }
                input[type="text"] {
                    width: 1px;
                    flex: 1 0 auto;
                    background: transparent;
                    border: 0;
                    height: var(--_height);
                    font-family: var(--mono);
                    font-size: var(--_font-size);
                    padding: 0 0 0 var(--_padding);
                    color: var(--text-color);
                    position: relative;
                    z-index: 1;
                }
                .btn-clear, .btn-newtab {
                    --_font-size: 1.8rem;
                    height: var(--_height);
                    width: calc((var(--_padding) * 2) + var(--_font-size));
                    font-size: var(--_font-size);
                    transform: scale(0);
                    position: absolute;
                    right: 0;
                    z-index: 2;
                    &, i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        line-height: 1;
                    }
                    i {
                        background: transparent;
                        height: calc(var(--_height) / 1.5);
                        width: calc(var(--_height) / 1.5);
                        border-radius: 100%;
                    }
                    &:hover, &:focus-visible {
                        // color: var(--accent-color);
                        i {
                            background: var(--clear-hover);
                        }
                    }
                }
                .btn-newtab {
                    @include clearbutton();
                }
                &:focus-within {
                    background: var(--bg-lite-h);
                }
            }
            &.text {
                .btn-clear {
                    @include clearbutton();
                }
                label {
                    display: none;
                }
            }
            sub {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 12.8rem; // gap: 3.2rem;
                @media screen and (max-width: $sm) {
                    flex-direction: column;
                }
            }
            subdrop {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 1.6rem;
            }
            dropmenu {
                --_font-size: 1.5rem;
                --_height: 4.8rem;
                --_padding: 2.2rem;
                font-size: var(--_font-size);
                position: relative;
                height: var(--_height);
                width: 100%;
                max-width: 34rem;
                border-radius: $globalradius;
                padding: 0;
                cursor: pointer;
                .op-button {
                    @include sameSize(100%);
                    overflow: hidden;
                    div {
                        @include sameSize(100%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: calc(var(--_padding) / 2);
                        padding: 0 var(--_padding);
                        background: var(--bg-lite);
                        border-radius: $globalradius;
                        border: 1px solid transparent;
                        span {
                            &:not(.value) {
                                &::after {
                                    content: ':';
                                    margin-left: 1px;
                                }
                            }
                            &.value {
                                text-align: right;
                                flex: 1 0 auto;
                            }
                        }
                    }
                    anicon {
                        .fa-downl {
                            transform-origin: 33.62% 50%;
                            transform: rotate(0deg);
                        }
                        .fa-downr {
                            transform-origin: 66.38% 50%;
                            transform: rotate(0deg);
                        }
                        i {
                            transition: transform $globalduration linear;
                        }
                    }
                    &:hover, &:focus-visible {
                        div {
                            background: var(--bg-lite-h);
                        }
                    }
                    &:focus-visible {
                        div {
                            border: 1px solid var(--border-color);
                        }
                    }
                    &:active, &[class*="keyboard-active"] {
                        div {
                            transform: translateY(.4rem);
                        }
                    }
                }
                .op-list {
                    position: absolute;
                    top: calc(100% + 4px);
                    left: 0;
                    width: 100%;
                    overflow: hidden;
                    height: 0;
                    z-index: 2;
                    ul {
                        height: calc((var(--_height) * var(--_count)) + (var(--_padding)));
                        padding: 0;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        background: var(--bg-lite);
                        border-radius: $globalradius;
                        overflow: hidden;
                        li {
                            height: var(--_height);
                            padding: 0 var(--_padding) 0 calc((var(--_padding) / 2 * 3) + var(--_font-size));
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            &:hover, &:focus-visible {
                                background: var(--bg-lite-hh);
                            }
                            &:first-child {
                                margin-top: calc(var(--_padding) / 2);
                            }
                            &:last-child {
                                margin-bottom: calc(var(--_padding) / 2);
                            }
                            &:not(.active) {
                                .fa {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                &.expanded {
                    .op-button {
                        anicon {
                            .fa-downl {
                                transform: rotate(90deg);
                            }
                            .fa-downr {
                                transform: rotate(-90deg);
                            }
                        }
                    }
                    .op-list {
                        height: calc((var(--_height) * var(--_count)) + (var(--_padding)));
                    }
                }
            }
            .btn-send, .btn-shorten, .btn-copy {
                --_font-size: 3.5rem;
                --_height: 7rem;
                font-size: var(--_font-size);
                height: var(--_height);
                width: var(--_height);
                max-width: 30rem;
                padding: 0;
                cursor: not-allowed;
                &, > *, i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 1;
                    border-radius: 100%;
                }
                i {
                    position: relative;
                    right: -1px;
                }
                > * {
                    @include sameSize(100%);
                    opacity: .5;
                    background: var(--bg-lite);
                    border: 1px solid transparent;
                }
                &:hover > *, &:focus-visible > * {
                    background: var(--bg-lite-h);
                }
                &:focus-visible > * {
                    border: 1px solid var(--border-color);
                }
            }
            .btn-send, .btn-copy {
                transition: transform $globalduration ease-in-out;
                &:active > *, &[class*="keyboard-active"] > * {
                    transform: scale(.75);
                }
            }
            .btn-shorten {
                --_height: 4.8rem;
                --_font-size: 1.5rem;
                &, i {
                    border-radius: $globalradius;
                }
                &:active i, &[class*="keyboard-active"] i {
                    transform: translateY(.4rem);
                }
            }
            .btn-copy {
                width: calc(var(--_length) * var(--_font-size));
                transition: transform $globalduration ease-in-out,
                            width $globalduration ease-in-out,
                            color $globalduration linear;
                .success {
                    &::before {
                        content: 'Copied to Clipboard';
                    }
                }
                .failure {
                    &::before {
                        content: 'Failed to Copy';
                    }
                }
                .success, .failure {
                    font-size: calc(var(--_font-size) / 2);
                    white-space: nowrap;
                    padding: 2rem;
                }
                > div {
                    border-radius: calc(var(--_height) / 2);
                }
                &:not([class*='success-']):not([class*='failure-']) {
                    --_length: 2;
                    .success, .failure {
                        display: none;
                    }
                }
                &[class*='success-'] {
                    --_length: 5.70;
                    color: #26dc26;
                    .failure, i {
                        display: none;
                    }
                }
                &[class*='failure-'] {
                    --_length: 4.42;
                    color: #dc2626;
                    .success, i {
                        display: none;
                    }
                }
            }
            &.text .btn-send, .btn-shorten, .btn-copy {
                cursor: pointer;
                > * {
                    opacity: 1;
                }
            }
            input.disabled {
                height: 0;
                width: 0;
                padding: 0;
                border: 0;
                position: fixed;
                top: -200svh;
                left: -200svw;
            }
            sup {
                .link-type {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    transition: gap $globalduration ease-in-out;
                    li {
                        --li-size: 6rem;
                        --li-padding: 1rem;
                        @include sameSize(calc(var(--li-size) + (var(--li-padding) * 2)));
                        transition: transform $globalduration ease-in-out, margin $globalduration ease-in-out;
                        span {
                            @include sameSize(100%);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: $globalradius;
                            background: var(--bg-lite);
                            cursor: pointer;
                            border: 1px solid transparent;
                            transition: background $hoverduration ease-in-out, transform $globalduration ease-in-out;
                        }
                        &:hover, &:focus-visible {
                            span {
                                background: var(--bg-lite-h);
                            }
                        }
                        &:focus-visible {
                            span {
                                border: 1px solid var(--border-color);
                            }
                        }
                        &:not(.active):active, &[class*="keyboard-active"] {
                            span {
                                transform: scale(.8);
                            }
                        }
                        &.active {
                            span {
                                color: var(--accent-color);
                            }
                        }
                        .fa {
                            font-size: calc(var(--li-size) - (var(--li-padding) * 2));
                            line-height: 1;
                        }
                    }
                    &:has(li.active) {
                        gap: .4rem;
                        li:not(.active) {
                            transform: scale(.8);
                        }
                        li.active {
                            transform: scale(1.2);
                            margin: 0 1.6rem;
                        }
                    }
                    &.sliding {
                        li:active {
                            span {
                                transform: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}

html {
    &[data-page="home"] {
        subdrop, .btn-copy, .btn-newtab {
            display: none !important;
        }
    }
    &[data-page="shorten"] {
        .link-type li:not(.active),
        dropmenu[data-type="encoding"],
        form .input label,
        .btn-send,
        .btn-clear {
            display: none !important;
        }

        .link-type li.active {
            span {
                cursor: default;
                background: unset;
                i {
                    font-size: calc(var(--li-size) - var(--li-padding) * 0);
                }
            }
        }
    }
}