@keyframes breathing {
  0%, 15%, 85%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
}
* {
  scrollbar-width: thin !important;
  scrollbar-color: var(--accent-color) rgba(0, 0, 0, 0) !important;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}
*::-webkit-scrollbar-thumb {
  background: var(--accent-color) !important;
}
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0) !important;
}
*, *::before, *::after {
  box-sizing: border-box;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

::-moz-selection {
  color: var(--background);
  background: var(--accent-color);
}

::selection {
  color: var(--background);
  background: var(--accent-color);
}

a, a:visited {
  color: var(--text-color);
  text-decoration: none;
}

header, footer, sidebar, menubar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html {
  --sans: "Radio Canada", sans-serif;
  --mono: "Courier Prime", monospace;
  --logo: "Cuprum", sans-serif;
  font-size: 10px;
}
html, html body {
  height: 100%;
  width: 100%;
}
html body {
  font-size: 1.6rem;
  font-family: var(--sans);
  margin: 0;
  padding: 0;
  background: var(--bg-deep);
  color: var(--text-color);
}

content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
content header, content footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
}
content header {
  height: 5rem;
  margin: 2rem auto;
}
content footer {
  height: 4rem;
  margin: 1.25rem auto;
}
content main {
  flex: 1 0 auto;
  display: flex;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1.25rem;
}
header .logo span {
  font-family: var(--logo);
  font-size: 3.25rem;
}
header .logo svg {
  height: 100%;
  width: auto;
}
header .btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header .btn-menu circle {
  height: 3.6rem;
  width: 3.6rem;
  background: transparent;
  border: 0.35rem solid var(--text-color);
  border-radius: 100%;
  animation: breathing 3s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .btn-menu circle dot {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 100%;
  background: var(--text-color);
  transform: scale(0);
}
header .btn-menu:hover circle, header .btn-menu:focus circle, header .btn-menu:active circle {
  animation: unset;
}
header .btn-menu:active circle {
  transform: scale(0.65);
}

body.open-menu header .btn-menu circle {
  animation: unset;
}
body.open-menu header .btn-menu circle dot {
  transform: scale(1);
}

footer {
  font-size: 1.4rem;
}
footer > about, footer > github {
  display: flex;
  gap: 0.75rem;
}
footer > about > a, footer > github > a {
  display: flex;
  gap: 0.6rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
main section {
  height: 100%;
  max-height: 60rem;
  width: calc(100% - 4.5rem);
  max-width: 80rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main section form .input {
  --_height: 5.4rem;
  --_font-size: 2rem;
  --_padding: 2.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--bg-mid);
  border-radius: 0.8rem;
  border: 1px solid var(--border-color);
  z-index: 0;
}
main section form .input label {
  position: absolute;
  left: var(--_padding);
  opacity: 0.35;
  font-style: italic;
}
main section form .input input[type=text] {
  width: 1px;
  flex: 1 0 auto;
  background: transparent;
  border: 0;
  height: var(--_height);
  font-family: var(--mono);
  font-size: var(--_font-size);
  padding: 0 0 0 var(--_padding);
  color: var(--text-color);
  position: relative;
  z-index: 1;
}
main section form .input .btn-clear, main section form .input .btn-send {
  --_font-size: 1.8rem;
  height: var(--_height);
  font-size: var(--_font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--_padding);
}
main section form .input .btn-clear, main section form .input .btn-clear i, main section form .input .btn-send, main section form .input .btn-send i {
  line-height: 1;
}
main section form .input .btn-send {
  position: relative;
  z-index: 1;
  cursor: not-allowed;
}
main section form .input .btn-clear {
  transform: scale(0);
  position: absolute;
  right: calc(var(--_padding) * 2 + var(--_font-size));
  z-index: 0;
}
main section form .input .btn-clear:hover, main section form .input .btn-clear:focus {
  color: var(--accent-color);
}
main section form.text .btn-clear {
  transform: scale(1);
  position: relative;
  right: unset;
  z-index: 1;
}
main section form.text .btn-send {
  background: var(--border-color);
}
main section form.text .btn-send:hover, main section form.text .btn-send:focus {
  color: var(--accent-color);
}
main section form.text .btn-send:hover i, main section form.text .btn-send:focus i {
  transform: scale(1.1);
}
main section form.text .btn-clear, main section form.text .btn-send {
  cursor: pointer;
}
main section form.text .btn-clear:active i, main section form.text .btn-send:active i {
  transform: scale(0.65);
}
main section form.text label {
  display: none;
}/*# sourceMappingURL=main.css.map */