@keyframes breathing {
  0%, 15%, 85%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
}
* {
  scrollbar-width: thin !important;
  scrollbar-color: var(--accent-color) rgba(0, 0, 0, 0) !important;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}
*::-webkit-scrollbar-thumb {
  background: var(--accent-color) !important;
}
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0) !important;
}
*, *::before, *::after {
  box-sizing: border-box;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

::-moz-selection {
  color: var(--background);
  background: var(--accent-color);
}

::selection {
  color: var(--background);
  background: var(--accent-color);
}

a, a:visited {
  color: var(--text-color);
  text-decoration: none;
}

button, ul, li {
  all: unset;
}

header, footer, .options, form label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html {
  --sans: "Radio Canada", sans-serif;
  --mono: "Courier Prime", monospace;
  --logo: "Cuprum", sans-serif;
  font-size: 10px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }
}
html, html body {
  height: 100%;
  width: 100%;
}
html body {
  font-size: 1.6rem;
  font-family: var(--sans);
  margin: 0;
  padding: 0;
  background: var(--bg-deep);
  color: var(--text-color);
}

content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
content header, content footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
}
content header {
  height: 5rem;
  margin: 2rem auto;
}
content footer {
  height: 4rem;
  margin: 1.25rem auto;
}
content main {
  flex: 1 0 auto;
  display: flex;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1.25rem;
}
header .logo span {
  font-family: var(--logo);
  font-size: 3.25rem;
}
header .logo svg {
  height: 100%;
  width: auto;
}
header .btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header .btn-menu circle {
  height: 3.6rem;
  width: 3.6rem;
  background: transparent;
  border: 0.35rem solid var(--text-color);
  border-radius: 100%;
  animation: breathing 3s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .btn-menu circle dot {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 100%;
  background: var(--text-color);
  transform: scale(0);
}
header .btn-menu:hover circle, header .btn-menu:focus-visible circle, header .btn-menu:active circle {
  animation: unset;
}
header .btn-menu:active circle {
  transform: scale(0.65);
}

body.open-menu header .btn-menu circle {
  animation: unset;
}
body.open-menu header .btn-menu circle dot {
  transform: scale(1);
}

footer {
  font-size: 1.4rem;
}
footer > about, footer > github {
  display: flex;
  gap: 0.75rem;
}
footer > about > a, footer > github > a {
  display: flex;
  gap: 0.6rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
main section {
  height: 100%;
  max-height: 60rem;
  width: calc(100% - 4.5rem);
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}
main section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4.8rem;
  margin-bottom: 2rem; /* Center the input box */
}
main section form .input {
  --_height: 5.4rem;
  --_font-size: 2rem;
  --_padding: 2.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--bg-lite);
  border-radius: 0.8rem;
  border: 1px solid var(--border-color);
  z-index: 0;
  outline: 1px solid transparent;
}
main section form .input label {
  position: absolute;
  left: var(--_padding);
  opacity: 0.35;
  font-style: italic;
}
main section form .input input[type=text] {
  width: 1px;
  flex: 1 0 auto;
  background: transparent;
  border: 0;
  height: var(--_height);
  font-family: var(--mono);
  font-size: var(--_font-size);
  padding: 0 0 0 var(--_padding);
  color: var(--text-color);
  position: relative;
  z-index: 1;
}
main section form .input .btn-clear, main section form .input .btn-send {
  --_font-size: 1.8rem;
  height: var(--_height);
  font-size: var(--_font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--_padding);
}
main section form .input .btn-clear, main section form .input .btn-clear i, main section form .input .btn-send, main section form .input .btn-send i {
  line-height: 1;
}
main section form .input .btn-send {
  position: relative;
  z-index: 1;
  cursor: not-allowed;
}
main section form .input .btn-clear {
  transform: scale(0);
  position: absolute;
  right: calc(var(--_padding) * 2 + var(--_font-size));
  z-index: 0;
}
main section form .input .btn-clear:hover, main section form .input .btn-clear:focus-visible {
  color: var(--accent-color);
}
main section form .input:focus-within {
  background: var(--bg-lite-h);
}
main section form .input:has(input[type=text]:focus-visible) {
  outline: 1px solid var(--accent-color);
}
main section form.text .btn-clear {
  transform: scale(1);
  position: relative;
  right: unset;
  z-index: 1;
}
main section form.text .btn-send {
  background: var(--bg-lite-hh);
}
main section form.text .btn-send:hover, main section form.text .btn-send:focus-visible {
  color: var(--bg-lite-hh);
  background: var(--accent-color);
}
main section form.text .btn-send:hover i, main section form.text .btn-send:focus-visible i {
  transform: scale(1.1);
}
main section form.text .btn-clear, main section form.text .btn-send {
  cursor: pointer;
}
main section form.text .btn-clear:active i, main section form.text .btn-send:active i {
  transform: scale(0.65);
}
main section form.text label {
  display: none;
}
main section form sub {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3.2rem;
}
@media screen and (max-width: 640px) {
  main section form sub {
    flex-direction: column;
  }
}
main section form option {
  --_font-size: 1.5rem;
  --_height: 4.8rem;
  --_padding: 2.2rem;
  font-size: var(--_font-size);
  position: relative;
  height: var(--_height);
  width: calc(100% - 4.5rem);
  max-width: 30rem;
  border-radius: 0.8rem;
  padding: 0;
  cursor: pointer;
}
main section form option .op-button {
  height: 100%;
  width: 100%;
}
main section form option .op-button div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--_padding) / 2);
  padding: 0 var(--_padding);
  background: var(--bg-lite);
  border-radius: 0.8rem;
}
main section form option .op-button div span:not(.value)::after {
  content: ":";
  margin-left: 1px;
}
main section form option .op-button div span.value {
  text-align: right;
  flex: 1 0 auto;
}
main section form option .op-button:hover div, main section form option .op-button:focus-visible div {
  background: var(--bg-lite-h);
}
main section form option .op-button:active div {
  transform: translateY(0.4rem);
}
main section form option .op-list {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
}
main section form option .op-list ul {
  height: calc(var(--_height) * var(--_count) + (var(--_padding)));
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: var(--bg-lite);
  border-radius: 0.8rem;
  overflow: hidden;
}
main section form option .op-list ul li {
  height: var(--_height);
  padding: 0 var(--_padding) 0 calc(var(--_padding) / 2 * 3 + var(--_font-size));
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section form option .op-list ul li:hover, main section form option .op-list ul li:focus-visible {
  background: var(--bg-lite-hh);
}
main section form option .op-list ul li:first-child {
  margin-top: calc(var(--_padding) / 2);
}
main section form option .op-list ul li:last-child {
  margin-bottom: calc(var(--_padding) / 2);
}
main section form option .op-list ul li:not(.active) .fa {
  display: none;
}
main section form option.expanded .op-list {
  height: calc(var(--_height) * var(--_count) + (var(--_padding)));
}
main section form input.disabled {
  height: 0;
  width: 0;
  padding: 0;
  border: 0;
  position: fixed;
  top: -200svh;
  left: -200svw;
}
main section form sup .link-type {
  display: flex;
  gap: 2rem;
}
main section form sup .link-type li {
  --li-size: 6rem;
  --li-padding: 1rem;
  height: calc(var(--li-size) + var(--li-padding) * 2);
  width: calc(var(--li-size) + var(--li-padding) * 2);
}
main section form sup .link-type li span {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  background: var(--bg-lite);
  cursor: pointer;
  transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
}
main section form sup .link-type li:hover span, main section form sup .link-type li:focus-visible span {
  background: var(--bg-lite-h);
}
main section form sup .link-type li:active span {
  transform: scale(0.8);
}
main section form sup .link-type li .fa {
  font-size: calc(var(--li-size) - var(--li-padding) * 2);
  line-height: 1;
}/*# sourceMappingURL=main.css.map */